.flex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.generated-table {
    border: 2px solid rgb(0 0 0);
    border-collapse: collapse;
}

.generated-table td {
    padding: 20px 30px;
    border: 2px solid rgb(0 0 0);
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    min-width: 60px;
}

.flexCenter {
    justify-content: center;
}

.marginTop16 {
    margin-top: 16px;
}