.container {
    border: 1px solid rgba(0, 0, 0, 0.427);
    width: fit-content;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.gridBox {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.427);
}

.selectedBox {
    background-color: aqua;
}