.gridContainer {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 12px;
}

.boxContainer {
    width: 120px;
    height: 120px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
