.progress {
    background-color: rgb(233, 236, 239);
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    height: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text {
    text-align: center;
}

.progress-color {
    background-color: #628ccb;
    height: inherit;
}

.width25 {
    width: 25%;
}

.width50 {
    width: 50%;
}

.width75 {
    width: 75%;
}

.width100 {
    width: 100%;
}